.email-form-signup{
    display:flex;
    flex-direction: column;
    align-items: center;

    .submit{
        margin-top: 20px;
        &:hover{
            color: #20589e;
        }
    }
}

.form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 75%;
    label{
        align-self: flex-start;
        font-size: 10px;
    }
    input{
        padding: 10px;
        border: 0;
        border-bottom: 1px solid black;
        
        &:focus{
            outline: none;
        }
        &:valid{
            border-bottom: 1px solid #28a745;
        }
        &:focus:invalid {
            border-bottom: 1px solid #dc3545;
        }
    }

}